html {
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background-color: #e8e8e9;
  text-align: center;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: white;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

p, li {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0px;
}
/* tu sie zaczyna górny pasek menu */	
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
	color: #667;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #667;
}